<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>@ViewData["Title"] - SsttekAcademyHomeWork</title>
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
  <link rel="shortcut icon" href="/images/logo.png">
  <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
  <link rel="stylesheet" href="~/SsttekAcademyHomeWork.styles.css" asp-append-version="true" />
  <style>
    body {
      min-height: 100vh;
    }

    .sidebar {
      padding-top: 20px;
      border-right: 1px solid #e0e0e0;
      height: 100vh;
    }

    .main-content {
      padding: 50px;
      background-color: #f8f9fd;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
        <!-- Top Navigation for Mobile -->
        <nav class="navbar navbar-light bg-light d-md-none">
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>

        <!-- Sidebar -->
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky">
                <!-- Logo -->
                <div class="text-center py-3">
                    <a asp-area="" asp-controller="Home" asp-action="Index">
                        <img src="/images/logo.png" alt="Logo" class="img-fluid" style="max-width: 100px;">
                    </a>
                </div>
                <!-- Navigation Links -->
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Books</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Search">Books Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
                    </li>
                </ul>
            </div>
        </nav>


      <!-- Main Content -->
      <main class="col-md-9  col-lg-10  main-content">
        @RenderBody()
      </main>
    </div>
  </div>

  <script src="~/lib/jquery/dist/jquery.min.js"></script>
  <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  <script src="~/js/site.js" asp-append-version="true"></script>
  @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
