@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Feyyaz Can Köse</h1>
    <p>My Home Works</p>
    <p>kesemenere123@gmail.com</p>
</div>



<div class="table-responsive rounded shadow-sm mt-5">
    <table class="table table-striped table-hover table-bordered mb-0">
        <thead class="bg-light">
            <tr>
                <th>Home Work Number</th>
                <th>Go to Home Work</th>
                <th>Complated Date</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Home Work 1</td>
                <td>
                    <a class="btn btn-sm btn-success me-2" asp-action="Index" asp-controller="Books">Home Work 1</a>
                </td>
                <td>
                    27.09.2024 01:12
                </td>
        </tbody>
    </table>
</div>
