@{
    ViewData["Title"] = "Product Page";
}

@model List<Product>

<h1>Product Page</h1>

<div class="table-responsive rounded shadow-sm mt-5">
    <table class="table table-striped table-hover table-bordered mb-0">
        <thead class="bg-light">
            <tr>
                <th>Name</th>
                <th>Price</th>
                <th>Description</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.Price.ToString("C")</td> <!-- Format Price as currency -->
                    <td>@item.Description</td>
                    <td>
                        <a class="btn btn-sm btn-success me-2" asp-action="Detail" asp-route-id="@item.Id">Detail</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
